{
  "local": {
    "host": "http://localhost:8080",
    "jwt": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJiZXRyYXllcjExQGdtYWlsLmNvbSJ9.T8u2IOoo8rrjo4Qgm6wCnCyFHx8e-z9nGB92JNES8HDN8HZ4CBoM8lpeSpmZey0wHPaMG8gEZLEEdeWHnnv15g"
  }
}